#ndHiddenBlocker {
  margin        : 0px;
  width         : 240px;
  background    : #dbe4ff;                /* デフォルト背景色   */
  font-family   : "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

#ndHiddenBlocker main {
  padding-left      : 15px;
  padding-bottom    : 15px;
}

/* === ヘッダー ============================== */
#ndHiddenBlocker .topBox {
  width         : 240px;
  height        : 40px;
  background    : #5074f5; 
}
#ndHiddenBlocker .topText {
  text-align    : center;
  color         : white;
  font-size     : large;
  padding       : 8px;
}

/* === 見出しテキスト ============================== */
#ndHiddenBlocker .text {
  font-size     : 12px;
  margin        : 12px 0 6px;
  font-weight   : 700;
  color         : #565656;
}

/* === ボタンを表示するエリア ============================== */
#ndHiddenBlocker .switchArea {
  display        : inline-block;        /* 横に並べる        */
  letter-spacing : 0;                   /* 文字間            */
  text-align     : center;              /* 文字位置は中央     */
  font-size      : 12px;                /* 文字サイズ         */
  position       : relative;            /* 親要素が基点       */
  margin-right   : 8px;
  margin-bottom  : 8px;
}

/* === チェックボックス ==================================== */
#ndHiddenBlocker .switchArea input[type="checkbox"] {
  display        : none;                /* チェックボックス非表示 */
}

/* === チェックボックスのラベル（標準） ==================== */
#ndHiddenBlocker .switchArea label {
  display           : block;            /* ボックス要素に変更 */
  box-sizing        : border-box;       /* 枠線を含んだサイズ */
  height            : 35px;             /* ボタンの高さ       */
  border-width      : 0;
  cursor            : pointer;
  padding           : 8px 15px;
  background-color  : transparent;
  letter-spacing    : 0.04rem;
  user-select       : none;
  border: solid 1px #fff;
  border-radius: 4px;
  color: #fff;
  background-color: #ccc;
}

/* === チェックボックスのラベル（ONのとき） ================ */
#ndHiddenBlocker .switchArea input[type="checkbox"]:checked +label {
  background-color  : #312dc2;
  color             : white;
  /* box-shadow        : 0px 2px 5px 2px rgba(0, 0, 0, 0.36) inset; */
}

/* === タグ登録エリア ============================== */
#ndHiddenBlocker .registerArea {
}

#ndHiddenBlocker .registerArea input[type="text"] {
  border-width    : 1px solid  rgba(0, 0, 0, 0.36);
  padding         : 4px 8px;
  font-size       : 12px;
  border          : 2px solid #ddd; /*枠線*/
  border-radius   : 3px; /*ボックス角の丸み*/
  box-sizing      : border-box; /*横幅の解釈をpadding, borderまでとする*/
  width           : 156px;
}

#ndHiddenBlocker .registerArea button {
  border-width     : 1px solid  rgba(0, 0, 0, 0.36);
  padding          : 2px 10px;
  font-size        : 12px;
  border           : 2px solid #ddd; /*枠線*/
  border-radius    : 3px; /*ボックス角の丸み*/
  background-color : #726C9F;
  color            : white;
  cursor           : pointer;
}

#ndHiddenBlocker .registerArea ul {
  list-style-type   : none;
  margin            : 5px 0;
  padding           : 0;
}

#ndHiddenBlocker .registerArea ul li {
  display           : inline-block;
  border            : 2px solid #726C9F;
  border-radius     : 5px;
  background-color  : white;
  padding           : 0 4px;
  margin            : 4px 2px 2px 0px;
  font-size         : 10px;
  cursor            : pointer;
  user-select       : none;
}

#ndHiddenBlocker .registerArea small {
  font-size         : 12px;
  color             : #666666;
  margin-top        : 5px;
}
